<form *ngIf="dataService.trapezoidalMatrixTable" style="overflow: auto;">
	<table mat-table [dataSource]="dataService.trapezoidalMatrixTable.dataSource" class="mat-elevation-z8">
		<ng-container *ngFor="let column of dataService.trapezoidalMatrixTable.columns" [matColumnDef]="column">
			<th mat-header-cell *matHeaderCellDef>
				{{column === 'none' ? '' : column}}
			</th>
			<td mat-cell *matCellDef="let element">
				{{element[column].data}}
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="dataService.trapezoidalMatrixTable.columns"></tr>
		<tr mat-row *matRowDef="let row; columns: dataService.trapezoidalMatrixTable.columns;"></tr>
	</table>
</form>
<div class="bottom-btn" style="margin-top: 10px;">
	<button mat-stroked-button (click)="dataService.openChart()">
    <mat-icon>bar_chart</mat-icon>
  </button>
	<button mat-stroked-button matStepperNext (click)="dataService.setAggregationMethods()">
  Set aggregation methods 
  </button>
</div>