<form
  *ngIf="dataService.expertMatrixTable"
  style="overflow: auto;"
  [formGroup]="dataService.expertMatrixForm"
>
  <table
    mat-table
    [dataSource]="dataService.expertMatrixTable.dataSource"
    class="mat-elevation-z8"
  >
    <ng-container
      *ngFor="let column of dataService.expertMatrixTable.columns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>
        {{column === 'none' ? '' : column}}
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element[column].start">
          {{element[column].data}}
        </div>
        <div *ngIf="!element[column].start">
          <mat-form-field>
            <input
              matInput
              placeholder="value"
              [formControlName]="element[column].id"
              required
            />
          </mat-form-field>
        </div>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="dataService.expertMatrixTable.columns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: dataService.expertMatrixTable.columns;"
    ></tr>
  </table>
</form>
<div class="bottom-btn" style="margin-top: 10px;">
  <button mat-stroked-button (click)="dataService.openChart()">
    <mat-icon>bar_chart</mat-icon>
  </button>
  <button mat-stroked-button (click)="dataService.setMatrixRandom()">
    Set random value
  </button>
  <button mat-stroked-button (click)="dataService.checkExpertMatrix(stepper)">
    Show matrix of interval estimates of LT of oscillatory type
  </button>
</div>
