<!-- <button (click)="test(stepper)">test</button> -->
<h2 style="text-align: center;">#1</h2>
<mat-vertical-stepper [linear]="true" #stepper>
	<mat-step [stepControl]="dataService.initFormGroup">
		<ng-template matStepLabel>Init</ng-template>
		<my-init></my-init>
	</mat-step>
	<mat-step [stepControl]="dataService.linguisticTermsForm">
		<ng-template matStepLabel>Linguistic terms</ng-template>
		<my-linguistic-terms></my-linguistic-terms>
	</mat-step>
	<mat-step [stepControl]="dataService.expertMatrixForm">
		<ng-template matStepLabel>Matrix of expert assessments</ng-template>
		<my-expert-matrix [stepper]="stepper"></my-expert-matrix>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Matrix of interval estimates of LT of oscillatory type</ng-template>
		<my-interval-matrix></my-interval-matrix>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Matrix of trapezoidal LT</ng-template>
		<my-trapezoidal-matrix></my-trapezoidal-matrix>
	</mat-step>
	<mat-step [stepControl]="dataService.aggregationMethodsForm">
		<ng-template matStepLabel>Aggregation methods</ng-template>
		<my-aggregation-methods></my-aggregation-methods>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>The result of the selected method</ng-template>
		<my-calc-res></my-calc-res>
	</mat-step>
	<mat-step>
		<ng-template matStepLabel>Conclusion</ng-template>
		<p>You are now done.</p>
		<mat-form-field style="width: 100%;">
			<mat-label>Conclusion</mat-label>
			<textarea matInput [(ngModel)]="dataService.conclusion" placeholder="Conclusion"></textarea>
		</mat-form-field>
		<div class="bottom-btn" style="margin-top: 10px;">
			<button mat-stroked-button (click)="dataService.openChart()">
    <mat-icon>bar_chart</mat-icon>
  </button>
			<button  mat-stroked-button matStepperPrevious>Back</button>
			<button  mat-stroked-button (click)="stepper.reset()">Reset</button>
		</div>
	</mat-step>
</mat-vertical-stepper>