<div
  *ngIf="dataService.linguisticTermsForm?.controls?.length"
  class="terms-container"
>
  <form
    *ngFor="let term of dataService.linguisticTermsForm.controls; let i = index"
    [formGroup]="dataService.getLinguisticTermByIndex(i)"
  >
    <mat-card>
      <div class="term-index">
        <span [matBadge]="i + 1" matBadgeOverlap="false"></span>
      </div>
      <mat-form-field>
        <mat-label>Full name</mat-label>
        <input matInput placeholder="Low" formControlName="fullName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Short name</mat-label>
        <input matInput placeholder="L" formControlName="shortName" required />
      </mat-form-field>

      <div formGroupName="range" class="range-inputs">
        <mat-form-field>
          <input
            matInput
            placeholder="Low"
            formControlName="low"
            required
            type="number"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Medium"
            formControlName="medium"
            required
            type="number"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Height"
            formControlName="height"
            type="number"
            required
          />
        </mat-form-field>
      </div>
    </mat-card>
  </form>
</div>
<div class="bottom-btn" style="margin-top: 10px;">
  <button mat-stroked-button (click)="dataService.openChart()">
    <mat-icon>bar_chart</mat-icon>
  </button>
  <button mat-stroked-button (click)="dataService.setLinguisticRandom()">
    Set random value
  </button>
  <button
    mat-stroked-button
    matStepperNext
    (click)="dataService.setExpertMatrix()"
  >
    Set matrix of expert assessments
  </button>
</div>
