<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>The general chart of triangular LT</h2>
  <canvas
    baseChart
    width="600"
    height="200"
    [datasets]="lineChartData1"
    [labels]="lineChartLabels1"
    [options]="lineChartOptions1"
    [colors]="lineChartColors1"
    [legend]="lineChartLegend1"
    [chartType]="lineChartType1"
    [plugins]="lineChartPlugins1"
  >
  </canvas>

  <h2 mat-dialog-title>The general normalized chart of triangular LT</h2>
  <canvas
    baseChart
    width="600"
    height="200"
    [datasets]="lineChartData2"
    [labels]="lineChartLabels2"
    [options]="lineChartOptions2"
    [colors]="lineChartColors2"
    [legend]="lineChartLegend2"
    [chartType]="lineChartType2"
    [plugins]="lineChartPlugins2"
  >
  </canvas>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
